
/* SETTING SHEET SIZE */
/* For better performance always fic the table size beforhand, else by default it takes
up the whole window, which is not good performance wise*/
#example {
  /* smaller the table size, better the performance */
  width: 1100px;
  height: 600px;
  overflow: hidden;  /* must always be hidden */
}


/* TOOLBAR BUTTON STYLE */
.toolbar-button-active {
  background-color: rgb(23, 26, 24); 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.toolbar-button-inactive{
  background-color: rgb(223, 255, 227); 
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}